<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>SBSlider</key>
        <dict>
            <key>trackColor</key>
            <string>#EFEFF3</string>
            <key>thumbColor</key>
            <string>#007aff</string>
        </dict>
        <key>ProgressView</key>
        <dict>
            <key>trackColor</key>
            <string>#0b78e3</string>
            <key>progressColor</key>
            <string>#0b78e3</string>
        </dict>
        <key>SegmentControl</key>
        <dict>
            <key>tintColor</key>
            <string>#007aff</string>
        </dict>
        <key>imageView</key>
        <dict>
            <key>borderColor</key>
            <string>#1A7AE0</string>
        </dict>
        <key>pageControl</key>
        <dict>
            <key>currentPageIndicatorTintColor</key>
            <string>#05c2b3</string>
            <key>pageIndicatorTintColor</key>
            <string>#abe5df</string>
        </dict>
        <key>view</key>
        <dict>
            <key>backgroundColor</key>
            <string>#0e0f1a</string>
            <key>backgroundColor1</key>
            <string>#ffffff</string>
            <key>backgroundColor2</key>
            <string>#0b78e3</string>
            <key>backgroundColor3</key>
            <string>#e5e5ea</string>
            <key>backgroundColor4</key>
            <string>#d1d1d6</string>
            <key>backgroundColor5</key>
            <string>#EFEFF4</string>
            <key>backgroundColor6</key>
            <string>#D1D1D6</string>
        </dict>
        <key>global</key>
        <dict>
            <key>lightFont</key>
            <string>Lato-Light</string>
            <key>regularFont</key>
            <string>Lato-Regular</string>
            <key>boldFont</key>
            <string>Lato-Bold</string>
            <key>blackFont</key>
            <string>Lato-Black</string>
        </dict>
        <key>textField</key>
        <dict>
            <key>backgroundColor</key>
            <string>#2d2f41</string>
            <key>textColor</key>
            <string>#ffffff</string>
            <key>textColor2</key>
            <string>#ff0000</string>
        </dict>
        <key>label</key>
        <dict>
            <key>textColor1</key>
            <string>#ffffff</string>
            <key>textColor2</key>
            <string>#d1d1d6</string>
            <key>textColor3</key>
            <string>#8e8e93</string>
            <key>textColor4</key>
            <string>#000000</string>
            <key>textColor5</key>
            <string>#F24</string>
            <key>textColor6</key>
            <string>#0b78e3</string>
        </dict>
        <key>button</key>
        <dict>
            <key>textColor1</key>
            <string>#0b78e3</string>
            <key>textColor2</key>
            <string>#ffffff</string>
            <key>textColor3</key>
            <string>#000000</string>
            <key>backgroundColor1</key>
            <string>#1A7AE0</string>
            <key>backgroundColor2</key>
            <string>#C7C7CC</string>
            <key>backgroundColor3</key>
            <string>#ffffff</string>
            <key>backgroundColor4</key>
            <string>#108d0f</string>
            <key>backgroundColor5</key>
            <string>#db4437</string>
            <key>backgroundColor6</key>
            <string>#0b78e3</string>
            <key>borderColor</key>
            <string>#ffffff</string>
        </dict>
        <key>toolBar</key>
        <dict/>
        <key>navigationbar</key>
        <dict>
            <key>largeTitleAttributes</key>
            <dict>
                <key>foregroundColor</key>
                <string>#ffffff</string>
                <key>font</key>
                <string>Lato-Regular</string>
            </dict>
            <key>titleAttributes</key>
            <dict>
                <key>foregroundColor</key>
                <string>#ffffff</string>
                <key>font</key>
                <string>Lato-Regular</string>
            </dict>
            <key>barTintColor</key>
            <string>#0e0f1a</string>
            <key>tintColor</key>
            <string>#ffffff</string>
        </dict>
        <key>tagListView</key>
        <dict>
            <key>textColor</key>
            <string>#8e8e93</string>
            <key>tagBackgroundColor</key>
            <string>#ffffff</string>
            <key>borderColor</key>
            <string>#efeff3</string>
        </dict>
    </dict>
</plist>
